marshmallow~=3.14.0
Flask~=2.0.2
flask-smorest~=0.35.0
Flask-SQLAlchemy~=2.5.1
SQLAlchemy-Utils~=0.37.8
Flask-UUID~=0.2
pyctuator~=0.16.0
requests~=2.26.0
SQLAlchemy~=1.4.25
PyJWT[crypto]~=2.3.0
oauthlib~=3.1.1
psycopg2-binary~=2.9.2
