marshmallow~=3.14.0
Flask~=2.0.2
Flask-Cors~=3.0.10
flask-smorest~=0.35.0
Flask-SQLAlchemy~=2.5.1
SQLAlchemy-Utils~=0.37.8
Flask-UUID~=0.2
pyctuator~=0.16.0
requests~=2.26.0
SQLAlchemy~=1.4.25
PyJWT~=2.3.0
oauthlib~=3.1.1
psycopg2-binary~=2.9.2
uwsgi~=2.0.20
cryptography>=3.3.1
